<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8"></meta>
		<title>Insert title here</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	</head>
	<body>
		<div>
			<h1>Abstract Service Sample</h1>
			<p class="msg" th:text="${msg}" />			
			<form id="form1" action="/action1">
				<button type="submit">submit1</button>
			</form>
			<form id="form2"action="/action2">
				<button type="submit">submit2</button>
			</form>
		</div>
		<div>
			<h1>Junit Experiment</h1>
			<form id="form3" action="/action3">
				<input type="text" name="input1"> + <input type="text" name="input2">  = <label th:text="${result}"></label>
				<p><button type="submit">submit3</button></p>
			</form>
		</div>
		<div>
			<h1>XMLHttpRequest Experiment</h1>
			<button type="button" id="XMLHttpRequestButton">submit4</button>
		</div>
	</body>
	<script>
		$(function(){
			$("#XMLHttpRequestButton").on("click", function(){
				
				const xhr = new XMLHttpRequest();
				
				xhr.onload = () => {
				    // process response
				    if (xhr.status == 200) {
				        // parse JSON data
				        // console.log(JSON.parse(xhr.response));
				        alert("OK")
				        
				        alert(decodeURIComponent(xhr.getResponseHeader("msg")))
				        alert(decodeURIComponent(xhr.getResponseHeader("msg2")))
				        alert(decodeURIComponent(xhr.getResponseHeader("msg3")))
				        
				        alert(decodeURI(xhr.getResponseHeader("msg")))
				        alert(decodeURI(xhr.getResponseHeader("msg2")))
				        alert(decodeURI(xhr.getResponseHeader("msg3")))
				        console.log(xhr.getAllResponseHeaders())
				        
				    } else {
				        // console.error('Error!');
				        alert("NG")
				    }
				};
				xhr.open('POST', 'http://localhost:8080/action4');
				xhr.send();
				
			})
		})
	</script>
</html>




